# Railway PostgreSQL URL - Railway dashboard'dan olinadi
DATABASE_URL=postgresql://username:password@host:port/dbname

# Production muhiti
NODE_ENV=production

# Port (Railway avtomatik beradi, o'zgartirma)
PORT=3000
